# Server
PORT=3000

# PostgresSQL connection
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/paycore_db"

# JWT config
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="15m"

# Refresh token config
REFRESH_TOKEN_SECRET="your_refresh_token_secret"
REFRESH_TOKEN_EXPIRES_IN="7d"

NODE_ENV="development"